@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");

body {
    background: #f5f5f5;
    color: #777;
    font-family: "Source Sans Pro", sans-serif !important;
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.65em;
    letter-spacing: -0.015em;
}

button {
    background: #4c3180;
    border: none;
    /*padding: 1rem;*/
    padding-top: 0.875rem;
    padding-right: 1.75rem;
    padding-bottom: 0.9375rem;
    padding-left: 1.75rem;
    border-radius: 6px;
    cursor: pointer;
    color: #EEE;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h4 {
    padding-bottom: .25rem;
}

p {
    display: inline-block;
    color: #777;
    margin: .5em 0 .25em 0;
    padding: .5em 0 0 0;
    font-size: 1em;
    line-height: 1.5em;
    font-style: normal;
    font-weight: 300;
}

label {
    color: #646464;
    display: block;
    font-size: 0.9em;
    font-weight: 300;
    margin: 0 0 1em 0;
}

i {
    padding-right: .75rem;
}

.main-section {
    height: 90%;
}

.left {

}

.tab-bar {
    color: #777 !important;
}

.tab-bar h2 {
    color: #777 !important;
}

.top-bar {
    background: #333;
    height: 3rem;
    line-height: 3rem;
}

.top-bar h2 {
    font-size: 1.125rem;
    /*color: #fff;*/
    font-weight: bold;
    line-height: 3rem;
    margin: 0;

    color: inherit;
    /*height: inherit;*/
    left: 1.25em;
    line-height: inherit;
    /*margin: 0;
    padding: 0;
    position: absolute;
    top: 0;*/
}

.tab-bar-section {
    text-align: center;
}

.menu-link {
    margin: 2rem;
}

.page {
    display: none;
}

#page-login h2 {
    padding-top: .25rem;
    padding-bottom: .25rem;
    border-bottom: solid 2px #e5e5e5;
}

#legal-modal-contents {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.loading-icon {
    margin-top: 4rem;
}

.loading-text {
    margin-top: 1rem;
    color: rgba(255, 0, 0, .8);
}

.page {
    height: 100%;
    overflow-x: scroll;
}

.ride-entry {
    padding: 1.5rem;
    border-bottom: 1px solid #AAA;
}

/*.ride-entry i {
    padding-right: .75rem;
}*/

.partner-entry {
    padding: 1.5rem;
    border-bottom: 1px solid #AAA;
}

/*.partner-entry i {
    padding-right: .75rem;
}*/

.span-buffer {
    padding-left: 1.65rem;
}